@{
    var todoList = Model as IEnumerable<todoApp.Models.TodoItem>;
    ViewBag.Title = "TODO APP - 할 일 목록";
}

<script>
    function showDeleteConfirm(todoId, title, message) {
        showMessageBox(
            title,
            message,
            () => {
                if (todoId === -1) {
                    // 일괄 삭제
                    document.getElementById("commonDeleteForm").submit();
                    form.querySelector('input[name="IdDone"]').value = true;
                } else {
                    // 개별 삭제
                    const form = document.getElementById("commonDeleteForm");
                    form.querySelector('input[name="Id"]').value = todoId;
                    form.submit();
                }
            }
        );
    }
</script>

<link rel="stylesheet" href="~/css/messageBox.css" />
<h2>할 일 목록</h2>
<p>할 일을 추가하고 관리하세요.</p>
<hr>
@* 일괄삭제 *@
<div class="d-flex align-items-center justify-content-end mb-3" style="gap: 10px;">
    <button class="btn btn-danger d-flex align-items-center" type="button"
        onclick="showDeleteConfirm(-1, '모두 삭제', '완료된 할 일들을 모두 삭제하시겠습니까?')"
        style="gap: 6px; font-size: 1rem; padding: 6px 14px;">
        <svg width="20" height="20" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M11.7816 4.03157C12.0062 3.80702 12.0062 3.44295 11.7816 3.2184C11.5571 2.99385 11.193 2.99385 10.9685 3.2184L7.50005 6.68682L4.03164 3.2184C3.80708 2.99385 3.44301 2.99385 3.21846 3.2184C2.99391 3.44295 2.99391 3.80702 3.21846 4.03157L6.68688 7.49999L3.21846 10.9684C2.99391 11.193 2.99391 11.557 3.21846 11.7816C3.44301 12.0061 3.80708 12.0061 4.03164 11.7816L7.50005 8.31316L10.9685 11.7816C11.193 12.0061 11.5571 12.0061 11.7816 11.7816C12.0062 11.557 12.0062 11.193 11.7816 10.9684L8.31322 7.49999L11.7816 4.03157Z"
                fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
        </svg>
        <span style="font-size: 1.1rem; font-weight: 500;">완료 항목 일괄 삭제</span>
    </button>
    <form id="commonDeleteForm" method="post" action="/Todo/DeleteTodo" style="display:none;">
        <input type="hidden" name="Id" value="-1" />
        <input type="hidden" name="IsDone" value="true" />
    </form>
</div>
@* 생성 *@
<form method="post" asp-controller="Todo" asp-action="Create">
    <div class="input-group mb-3">
        @if (ViewBag.Error != null)
        {
            <p style="color: red">@ViewBag.Error</p>
        }
        <input type="text" class="form-control" name="todoText" placeholder="할 일을 입력하세요." required />
        <button class="btn btn-primary" type="submit">추가</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            @* <th style="width:5%">
                <input type="checkbox" style="width:20px; height:20px;" onclick="onClickCheckbox()" />
            </th> *@
            <th style="width:40%">목록</th>
            <th style="width:30%">상태</th>
            <th style="width:30%">갱신</th>
        </tr>
    </thead>
    <tbody>
        @if (todoList == null || !todoList.Any())
        {
            <tr>
                <td colspan="4" class="text-center">할 일이 없습니다.</td>
            </tr>
        }
        else
        {
            @foreach (var todo in todoList)
            {
                <tr @if (todo.IsDone) {
                <text>class="table-success"</text>
                } else
                {

                    <text>class="table-light"</text>
                }
                >
                @* <td>
                    <input type="checkbox" style="width:20px; height:20px;" onclick="onClickCheckbox()" />
                </td> *@
                @if (todo.IsDone)
                {
                    <td class="text-decoration-line-through">@todo.Content</td>
                    <td class="text-decoration-line-through">
                        <svg width="30" height="30" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11.4669 3.72684C11.7558 3.91574 11.8369 4.30308 11.648 4.59198L7.39799 11.092C7.29783 11.2452 7.13556 11.3467 6.95402 11.3699C6.77247 11.3931 6.58989 11.3355 6.45446 11.2124L3.70446 8.71241C3.44905 8.48022 3.43023 8.08494 3.66242 7.82953C3.89461 7.57412 4.28989 7.55529 4.5453 7.78749L6.75292 9.79441L10.6018 3.90792C10.7907 3.61902 11.178 3.53795 11.4669 3.72684Z"
                                fill="green" fill-rule="evenodd" clip-rule="evenodd"></path>
                        </svg>
                    </td>
                }
                else
                {
                    <td>@todo.Content</td>
                    <td>
                        <svg width="30" height="30" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M2.14645 11.1464C1.95118 11.3417 1.95118 11.6583 2.14645 11.8536C2.34171 12.0488 2.65829 12.0488 2.85355 11.8536L6.85355 7.85355C7.04882 7.65829 7.04882 7.34171 6.85355 7.14645L2.85355 3.14645C2.65829 2.95118 2.34171 2.95118 2.14645 3.14645C1.95118 3.34171 1.95118 3.65829 2.14645 3.85355L5.79289 7.5L2.14645 11.1464ZM8.14645 11.1464C7.95118 11.3417 7.95118 11.6583 8.14645 11.8536C8.34171 12.0488 8.65829 12.0488 8.85355 11.8536L12.8536 7.85355C13.0488 7.65829 13.0488 7.34171 12.8536 7.14645L8.85355 3.14645C8.65829 2.95118 8.34171 2.95118 8.14645 3.14645C7.95118 3.34171 7.95118 3.65829 8.14645 3.85355L11.7929 7.5L8.14645 11.1464Z"
                                fill="gray" fill-rule="evenodd" clip-rule="evenodd"></path>
                        </svg>
                    </td>
                }
                <td>
                    <div class="d-flex gap-2">
                        <form method="post" asp-controller="Todo" asp-action="Done" class="m-0">
                            <input type="hidden" name="Id" value="@todo.Id" />
                            <input type="hidden" name="Content" value="@todo.Content" />
                            <input type="hidden" name="IsDone" value="@todo.IsDone" />
                            <button class="btn btn-success" type="submit">
                                <svg width="20" height="20" viewBox="0 0 15 15" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.4669 3.72684C11.7558 3.91574 11.8369 4.30308 11.648 4.59198L7.39799 11.092C7.29783 11.2452 7.13556 11.3467 6.95402 11.3699C6.77247 11.3931 6.58989 11.3355 6.45446 11.2124L3.70446 8.71241C3.44905 8.48022 3.43023 8.08494 3.66242 7.82953C3.89461 7.57412 4.28989 7.55529 4.5453 7.78749L6.75292 9.79441L10.6018 3.90792C10.7907 3.61902 11.178 3.53795 11.4669 3.72684Z"
                                        fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
                                </svg>
                            </button>
                        </form>
                        <button class="btn btn-danger" type="submit"
                            onclick="showDeleteConfirm(@todo.Id, '삭제 확인', '정말로 이 할 일을 삭제하시겠습니까?')">
                            <svg width="20" height="20" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.7816 4.03157C12.0062 3.80702 12.0062 3.44295 11.7816 3.2184C11.5571 2.99385 11.193 2.99385 10.9685 3.2184L7.50005 6.68682L4.03164 3.2184C3.80708 2.99385 3.44301 2.99385 3.21846 3.2184C2.99391 3.44295 2.99391 3.80702 3.21846 4.03157L6.68688 7.49999L3.21846 10.9684C2.99391 11.193 2.99391 11.557 3.21846 11.7816C3.44301 12.0061 3.80708 12.0061 4.03164 11.7816L7.50005 8.31316L10.9685 11.7816C11.193 12.0061 11.5571 12.0061 11.7816 11.7816C12.0062 11.557 12.0062 11.193 11.7816 10.9684L8.31322 7.49999L11.7816 4.03157Z"
                                    fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
                            </svg>
                        </button>
                        <form id="commonDeleteForm" method="post" action="/Todo/DeleteTodo" style="display:none;">
                            <input type="hidden" name="Id" />
                        </form>
                    </div>
                </td>
            </tr>
        }
                }
        <script src="@(Url.Content("~/js/messageBox.js"))"></script>
    </tbody>